
@{
    ViewBag.Title = "AcercaDe";
    Layout = ViewBag.layout;
}

<h1>Acerca De</h1>

<div class="row">
    <div class="col-lg-12">
        <img src="~/Content/img/acercade.jpg" class="img-fluid" id="img_acerca" alt="imagen_acerca_de" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p class="text-danger">Integrantes : Alejandro Quevedo - Damian Gayoso - Daiana Flores - Juan Pablo Maidana</p>
    </div>
</div>
