
@{
    ViewBag.Title = "VerPreguntasAlumnos";
    Layout = "~/Views/Shared/AlumnosLayout.cshtml";
}

<div id="preguntas-alumnos">
    <section class="titulo-pagina">
        <div class="row">
            <div class="col-sm-12">
                <h2>Preguntas</h2>
            </div>
        </div>
    </section>
    <section id="texto-filtros">
        <div class="row">
            <div class="col-sm-9">
                <p>
                    Recuerda que cuanto antes responda correctamente, mas chance tiene de sumar un mejor puntajes,
                    y su tu repuesta es la más completa,recibirás un puntaje bonus!
                </p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Todas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sin corregir</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Correctas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Regular</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Mal</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="preguntas-alumnos">
        @for (int i = 16; i > 0; i--)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="row ml-4 mt-4">
                        <div class="col-sm-12">
                            <p class="d-inline-block mb-0"><strong>Clase 6 - Entity Framework</strong></p>
                            <p class="d-inline-block mb-0">Hasta 24/05/2019 23:59:59</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <p class="pregunta">@i. ¿Entity Framework solo se puede usar con Sql Server?</p>
                        </div>
                        <div class-sm-5>
                            @Html.ActionLink("Responder", "ponerALgo")
                            @Html.ActionLink("Ver", "ponerALgo")
                            <p class="d-inline-block text-success"> Correcta | 8° | 1000pts | Mejor Repuesta</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
</div>
