
@{
    ViewBag.Title = "Evaluar";
    Layout = "~/Views/Shared/ProfesoresLayout.cshtml";
}

<div class="evaluar-repuesta">
    <section class="titulo-pagina">
        <div class="row">
            <div class="col-sm-12">
                <h2>Repuestas</h2>
            </div>
        </div>
    </section>
    <section id="clase-pregunta">
        <div class="row">
            <div class="col-sm-12">
                <h6 class="ml-4">Clase 5 -MVC Layouts y Partial</h6 >
            </div>
            <div class="col-sm-6">
                <h5 class="d-inline-block">14. ¿Qué es un Layout?</h5>
                <h6 class="d-inline-block">(18/04/2019 - 24/04/2019)</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Todas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sin corregir</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Correctas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Regular</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Mal</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section id="repuestas-preguntas">
        @for (int i = 0; i < 11; i++)
        {
            <div class="row">
                <div class="col-sm-2">
                    <div class="fecha-repuesta d-inline-block">
                        18/04/2019 19:05:44
                    </div>
                    <div class="nombre-alumno d-inline-block">
                        Alejandro Quevedo
                    </div>
                </div>
                <div class="col-sm-5">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique placerat nibh molestie congue.
                        Sed sit amet egestas risus. Duis suscipit finibus arcu, eget dictum leo tincidunt sed. Vivamus ac eleifend
                        lectus, id sodales nisi. Quisque eu eros dui. Vestibulum sem risus, molestie ac felis ut, facilisis
                        facilisis tortor. Proin luctus metus sed ornare lobortis. Quisque eleifend semper blandit.
                    </p>
                </div>
                <div class="col-sm-4">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link text-success" href="#">Correcta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" href="#">Regular</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="#">Mal</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-1">
                    <a href="#">Mejor repuesta</a>
                </div>
            </div>
        }
    </section>
</div>

 