
@{
    ViewBag.Title = "Evaluar";
    Layout = "~/Views/Shared/ProfesoresLayout.cshtml";
}

<div class="evaluar-repuesta">
    <section class="titulo-pagina">
        <div class="row">
            <div class="col-sm-12">
                <h2>Repuestas</h2>
            </div>
        </div>
    </section>
    <section id="clase-pregunta">
        <div class="row">
            <div class="col-sm-12">
                <h5>Clase 5 -MVC Layouts y Partial</h5>
            </div>
            <div class="col-sm-6">
                <h3>14. ¿Qué es un Layout?</h3>
                <h6>(18/04/2019 - 24/04/2019)</h6>
            </div>
        </div>
    </section>
</div>

